/* Settings for header */
*{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 675px;
    background: url(Photo/HeaderPhoto.png) no-repeat;
}
/* finish settings for header */

/* Settings nav menu */
.header-nav{
    height: 240px;
    width: 950px;
    margin-left: 180px;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
    
}
.nav{
    justify-content: space-between;
    width: 750px;
}
.nav-item{
    height: 50px;
}
.nav-link{
    padding-left: 0px;
    font-size: 10pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.link-text-under{ 
    width: 115px;

    color: white;
    font-size: 12px;
    padding-left: 0px;
}
.active{
    color: #ff6633;
}
/* finish nav menu */

/* Color for links on all webpage */
.link{
    color: white;
}
.link:hover{
    color: #ff6633;
    text-decoration: none;
}
/* Finish link setting */


/* Settings for LoGo */
.logo{
    margin-top: -10px;
}
.logo-text{
    font-size: 36pt;
    color: #ff6633;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-decoration: none;
   
}
.logo--item-size{
    height: 45px;
    width: 200px;
}
/* Finish settings for logo */


/* Settings for title on header */
.header-title{
    align-items: center;
    margin-top: 80px;
}
.title-site{
   
    font-weight: lighter;
    color: #ffffff;
}
.title-under{

    font-weight: 100;
    color: #ffffff;
}
/* finish for title on header */

/* Settings for button on header */
.header-button{
    margin-top: 45px;
    display: flex;
    direction: row;
}
.button-view {
    width: 160px;
    height: 50px;
    border: 0;
    color: #ffffff;
    font-size: 9pt;
    align-self: center;
    
}
.main-button{
    background-color: #ff6633;
}
.main-button:hover{
    background-color: #ffffff;
}
.auxiliary-button{
    background-color: rgba(0, 0, 0, 0.753);
    align-items: center;
}
.auxiliary-button:hover{
    background-color: rgb(255, 255, 255);
}
/* finish for button on header */

/* Settings for header scroll button */
.header-scroll-text{
    margin-top: 110px;
    color: #ffffff;
    font-size: 14px;
}

/* Start body */

/* First article */

.first-title{
    height: 995px;
    background:  #f7f7f7 url(Photo/first-article-bg.png) no-repeat;
    
}
.article-block{
    height: 450px;
    width: 450px;
    margin-left: 200px;
    margin-right: 170px;
    padding-top: 170px;
}



/* second article */
.second-title{
    height: 700px;
    background: url(Photo/second-article-bg.png) no-repeat;
}
/* third section */
.form-section{
    height: 850px;
    background: #f7f7f7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form-view{
    height: 598px;
    width: 455px;
    margin-right: 30px;
    margin-left: 30px;
    background: #ffffff; 
    align-items: center;
}

/* first form */
.form-item{
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 415px;
    align-items: center;
    justify-content: space-around;
}

.item-row{
    height: 50px;
    width: 310px;
    border-radius: 5px;
}
.item-view{
    color: #555555;
    background-color: #f7f7f7;
    border-color: #e5e4e4;
   
}

/* second form */


.coments-form {
    flex-direction: column;
    justify-content: center;
}
.coment{
    width: 290px;
    margin-left: 20px;
}
.form-first-title{
    margin-top: 75px;
}

/* photo on the coment board */
.photo-border{
    width: 75px;
    height: 75px;
    border-radius: 50px;
}
.photo{
    background-size: cover;
    background-position-x : 50%;
    background-position-y : 50%;
}
.photo-1{
    background-image: url(Photo/people1.jpg);
}
.photo-2{
    background-image: url(Photo/people2.jpg);
}
.photo-3{
    background-image: url(Photo/people3.jpg);
}
/* text on the coment form */
.coment-title{
    color: #ff6633;
}
.coment-text{
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
/* information on coment form */
.date-write{
    display: flex;
    flex-direction: row;
    
}
.date{
    width: 150px;
}

.time{
   width: 100px;
}
/* forth title settings */
.forth-title{
    height: 420px;
    background-color: white;
}
.forth-title-position{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.forth-title--content-box {
    height: 180px;
    width: 350px;
    margin-right: 70px;
    margin-left: 70px;
}
.content-box--position{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.button-share{
    background-image:url(Photo/icons8-facebook-24.png) #3e59a5;
}
.button-tweet{
    background-image: url(Photo/icons8-твиттер-50.png) #1b95e0;
}